{% extends 'base.html' %}
{% load static %}
{% block title %}Projects page{% endblock %}
{% block content %}
<h1>📝PROJECTS📝</h1>
</br>
</br>
    {% for project in projects %}
        <h3>{{ project.title }}</h3>
        {% if not user.is_authenticated %}
            <a href='{{ project.get_absolute_url }}'>Show the project🔓</a>
        {% else %}
        <p>
            <a href='{{ project.get_absolute_url }}'>Show the project🔓</a>
            {% if perms.webapp.change_project %}
                <a href='{% url "webapp:project_update" project.pk%}'>Edit the project📝</a>
            {% endif %}
            {% if perms.webapp.delete_project %}
                <a href='{% url "webapp:project_delete" project.pk%}'>Delete the project✂️</a>
            {% endif %}
        </p>
        {% endif %}
    {% endfor %}

{% endblock %}